nav.gbkList {
	background-color: hsla( 0, 0%, 100%, 1 )
}

nav.gbkList ul {
	margin:		0px;
	padding: 	0px;
	list-style: none;
	cursor:		pointer;
}

nav.gbkList ul li:hover {
	background-color: 	hsla( 0, 0%, 92%, 1 )
}

nav.gbkList ul li a {
	color:				hsla( 0, 0%, 0%, 1 );
}